body{
	margin: 0px;
	padding: 0px;
	background-color: #c0c0c0;
}
a{
	text-decoration: none; 
	color: #000;
}
li{
	list-style: none;
}
.head{
	background-color: #fff; 
	width: 1200px; 
	margin:10px auto;
	position: relative;
	margin-bottom: 0px;
} 
.head .head-logo{
	margin:0 100px;
}
.head .head-logo .input-group{
	width: 35% ;
	height: 41px;
	position: absolute;
	top:24px;
	left: 32.5%;
}
.head .head-logo .btn-group{
	width: 148px;
	height: 34px; 
	margin: 23px 0px;
}
.head .head-logo .head-logo-nav{
	width: 11%;
	height: 34px;
	margin: 5px 0px;
	position: absolute;
	top: 24px;
	right:245px;
}
.head .head-logo .head-logo-nav li{
	float: left;
	display: inline-block;
	padding: 5px 5px;
}

.head .head-nav-container{
	background-color: #464342;
	height: 48px;
}
.head .head-nav-container .head-nav{
	height: 48px;
	margin: 0px 100px;
}
.head .head-nav-container .head-nav .first{
	padding: 0px 100px 0px 40px;
	color: #fff;
}
.head .head-nav-container .head-nav .first:hover{
	background-color: #f9592e;
}
.head .head-nav-container .head-nav li{
	float: left;
	display: inline-block;
	line-height: 48px;
	font-size: 14px;
	padding-left:40px;
}
.head .head-nav-container .head-nav li a{
	color: #fff;
}
.head-choose{
	width: 1200px;
	margin: 0px auto;
	height: 910px;
	background-color: #fff;
}
.head-choose .container-fluid{
	margin: 0px 100px;
	padding: 0px;
}
.head-choose .container-fluid ul{
	margin-bottom: 0px ;
	height: 60px;
	padding-left: 0px;
}
.head-choose .container-fluid ul li{
	display: inline-block; 
	line-height: 60px;
	margin-right: 10px;
}
.head-choose .container-fluid ul li a{
	font-size: 12px;
}
.head-choose .container-fluid .row .col-md-7 ol li{
	background-image: url("../images/details/2.jpg");
	width: 85px;
	height: 104px;
	border-radius: 1px;
	opacity: 0.3;
}
.head-choose .container-fluid .row .col-md-7 ol .active{
	opacity: 1;
}
.head-choose .container-fluid .row .col-md-7 .carousel-indicators{
	left: 132px!important;
	bottom: -145px!important;
}
.head-choose .container-fluid .row .col-md-5 #header{
	height: 150px;
	border-bottom: 1px solid #dedede;
}
.head-choose .container-fluid .row .col-md-5 form button{
	width: 90px;
	height: 45px;
	margin-right: 12px;
	background-color: #dedede;
}
.head-choose .container-fluid .row .col-md-5 form .input-group-btn{
	width: 0px;
}
.banner{
	width: 1200px;
	margin: 0px auto;
	height: 2400px;
	background-color: #fff;
}
.banner .container-fluid{
	margin: 0px 100px;
	padding: 0px;
}

.footer{
	width: 1200px;
	margin: 0px auto;
	height: 320px;
	background-color: #f4f4f4;
}
.footer .container-fluid{
	padding: 0px 50px;
}
.footer .container-fluid .col-md-4{
	padding: 55px 15px 0px;
}
.footer .container-fluid .col-md-4 ul{
	padding: 0px;
}
.footer .container-fluid .col-md-4 .about{
	padding-bottom: 24px;
	font-size: 14px;
}
.footer .container-fluid .col-md-4 ul li{
	padding-bottom: 15px;
	font-size: 12px;
	color: #313131;
}
.footer .container-fluid .footer-con{
	margin-top: 100px;
}
.footer .footer-last{
	background-color:#000;
	height: 40px;
	margin: 25px 0px 0px; 
}